a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.padre {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "titulo titulo    titulo"
    "menu   menu      menu"
    "nombre contenido redes"
    "pie    pie       pie";
  gap: 10px;
}

.titulo {
  grid-area: titulo;
  background-color: #ff0000;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
  grid-area: menu;
  background-color: #d4ff00;
  text-align: center;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.menuit {
  margin: 0 10px;
}

.carrera {
  grid-area: nombre;
  background-color: #04ff00;
  text-align: center;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.contenido {
  grid-area: contenido;
  background-color: white;
  text-align: center;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #ddd;
}

.carousel-img-fix {
  height: 500px;
}

.card-personalizada {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contenedor-imagenes {
  display: flex;
  width: 100%;
}

.img-mitad {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.redes {
  grid-area: redes;
  background-color: #00ff04;
  text-align: center;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.redesit {
  margin-bottom: 10px;
}

.pie {
  grid-area: pie;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: "Segoe UI";
}
